<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Url creating page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/short-url.css">
    <link rel="stylesheet" href="/css/full-url.css">
</head>
<body>
<div class="modal">
    <div class="search-modal modal-window">
        <h2 class="full-Url-title modal-search">Your short Url</h2>
        <form action="" class="full-Url-input-container modal-styles">
            <input class="full-Url-input" type="text" th:value="${shortUrl}" disabled>
            <a href="#" class="full-Url-btn modal-styles">copy</a>
        </form>
        <a href="/main" class="modal-main-btn">back to main</a>
    </div>
</div>
</body>
</html>