<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/short-url.css">
    <link rel="stylesheet" href="/css/full-url.css">
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>
<table class="full-url-table">
    <tbody>
    <thead>
    <tr>
        <th>Creation date</th>
        <th>Short URL</th>
        <th>Full URL</th>
        <th>Visit count</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${#temporals.format(url.creationDate, 'dd.MM.yyyy')}">21.06.2020</td>
        <td>
            <a th:href="@{${url.shortUrl}}" th:text="${url.shortUrl}">
                fullUrl
            </a>
        </td>
        <td>
            <a th:href="@{${url.fullUrl}}" th:text="${url.fullUrl}">
                fullUrl
            </a>
        </td>
        <td th:text="${url.visitCount}">visit count
            <form action="/" method="post">
                <input type="image" src="/img/full-url-arrow.png" alt="arrow">
            </form>
        </td>
    </tr>
</table>
<table class="full-url-table">
    <tbody>
    <thead>
    <tr>
        <th>Visit no</th>
        <th>Visit date</th>
    </tr>
    </thead>
    <tr th:each="visit, state : ${visits}">
        <td th:text="${state.count}">visit no</td>
        <td th:text="${#temporals.format(visit.date, 'dd.MM.yyyy - HH:mm')}">21.06.2020</td>
    </tr>
</table>



<!--<div class="modal">-->
<!--    <div class="modal-window">-->
<!--        <a href="#" class="cross"><img src="/img/cross.png" alt="cross"></a>-->
<!--        <h2 class="full-Url-title modal-styles">Your short Url</h2>-->
<!--        <table>-->
<!--            <tbody class="short-Url-table">-->
<!--            <thead>-->
<!--            <th>Creation date</th>-->
<!--            <th>Short URL</th>-->
<!--            <th>Visit count</th>-->
<!--            </thead>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>21.06.2020</td>-->
<!--                <td>https://cutt.ly/DyL7q0R</td>-->
<!--                </td>-->
<!--                <td>21213400</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <a href="#" class="modal-main-btn">to main</a>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>