<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/short-url.css">
    <link rel="stylesheet" href="/css/full-url.css">

    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<a href="/logout" class="modal-main-btn">Log out</a>
<body>
<table class="full-url-table">
    <tbody>
    <thead>
    <tr>
        <th>Creation date</th>
        <th>Short URL</th>
        <th>Full URL</th>
        <th>Visit count</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${#temporals.format(url.creationDate, 'dd.MM.yyyy - HH:mm')}">21.06.2020</td>
        <td>
            <a th:href="@{${url.shortUrl}}" th:text="${url.shortUrl}">
                fullUrl
            </a>
        </td>
        <td>
            <a th:href="@{${url.fullUrl}}" th:text="${url.fullUrl}">
                fullUrl
            </a>
        </td>
        <td th:text="${url.visitCount}">visit count
            <form action="/" method="post">
                <input type="image" src="/img/full-url-arrow.png" alt="arrow">
            </form>
        </td>
    </tr>
</table>

<table class="full-url-table">
    <tbody>
    <thead>
    <tr>
        <th>Visit no</th>
        <th>Visit date</th>
    </tr>
    </thead>
    <tr th:each="visit, state : ${data.content}">
        <td th:text="${state.count}">visit no</td>
        <td th:text="${#temporals.format(visit.date, 'dd.MM.yyyy - HH:mm')}">21.06.2020</td>
    </tr>
</table>
<ul class="nav nav-pills">
    <li class="nav-item"
        th:each="i : ${#numbers.sequence(0,data.totalPages - 1)}"><a
            th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"
            th:classappend="${currentPage}==${i}?'active':''"></a></li>
</ul>
<a href="/main" class="modal-main-btn">back to main</a>
</body>
</html>